[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
channels = "*"
autopep8 = "*"
pillow = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-jazzmin = "*"
django-admin-soft-dashboard = "*"
install = "*"
django-filter = "*"
django-admin-volt = "*"
whitenoise = "*"
pymysql = "*"
django-twilio = "*"
django-nexmo = "*"

[dev-packages]

[requires]
python_version = "3.10"
