{% load static %} {% include 'index.html' %} {% block BASEVIEW %}
<div class="mt-5">
  <img class="select-none" src="{% static 'image/contact.png' %}" alt="" />
</div>
<section>
  <div
    class="w-full h-[200px] bg-blue-400 mt-10 p-5 flex items-center justify-between"
  >
    <div class="w-2/6">
      <h1 class="text-[20px] text-white font-sans font-bold">USEFUL LINKS</h1>
      <p class="text-white font-sans">
        Bangladesh Police | Ministry of Home Affairs | Immigration Police | RAB
        | Ansar VDP | PBI | Desco | BTCL | Fire Service | Bangladesh Betar
      </p>
    </div>
    <div class="w-2/6 flex items-center">
      <img
        class="w-[200px]"
        src="https://www.police.gov.bd/storage/upload/logo/en.png"
        alt=""
      />
    </div>
    <div class="w-2/6">
      <iframe
        src="https://www.youtube.com/embed/YM0qEq9bkZM"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</section>
{% endblock BASEVIEW %}
